#main-container {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 500px;
    height: 500px;
    background-color: #000;
}

.asteroid {
    stroke: #FFF;
}

.ship {
    stroke: #FFF;
}

.ship.invulnerable {
    stroke: #AAA;
}

.particle {
    stroke: #FFF;
}

.bullet {
    stroke: #FFF;
}

.ship-debris {
    stroke: #FFF;
}
